:root {
  /* Dark mode colors */
  --color-primary-dark: #646cff;
  --color-button-hover-dark: #535bf2;
  --color-secondary-dark: #1a1a1a;
  --color-background-dark: #242424;
  --color-text-dark: rgba(255, 255, 255, 0.87);
  --color-shadow-dark: rgba(255, 255, 255, 0.1);

  /* Light mode colors */
  --color-background-light: #ffffff;
  --color-text-light: #213547;
  --color-button-hover-light: #747bff;
  --color-shadow-light: rgba(0, 0, 0, 0.1);
  --color-primary-light: #3b82f6;
  --color-secondary-light: #f9f9f9;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text-dark);
  background-color: var(--color-background-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--color-primary-dark);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-primary-hover-dark);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-secondary-dark);
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--color-primary-dark);
}
button:hover {
  border-color: var(--color-primary-hover-dark);
  color: var(--color-primary-hover-dark);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

nav {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 2em;
  padding: 1em;
  background-color: var(--color-secondary-dark);
  border-radius: 8px;
  box-shadow: 0 2px 10px var(--color-shadow-dark);
  color: var(--color-background-dark);
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: background-color 0.3s, color 0.3s;
  position: fixed;
  top: 0;
  width: 100%;
  right: -34px;
}

#title {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  margin: 0;
  cursor: default
}

#navBarButtons {
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: center;
}

#outButton {
  margin-right: 1em;
}

.pageContent {
  display: flex;
  flex-direction: column;
  width: 96vw;
  min-height: 83vh;
  margin: 90px 1vw 1vh 1vw;
  justify-content: flex-start;
  background-color: var(--color-secondary-dark);
}

.person_image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
  margin-right: 1em;
  display: block;
  background-color: var(--color-secondary-dark);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-text-light);
    background-color: var(--color-background-light);
  }
  a:hover {
    color: var(--color-button-hover-light);
  }
  button {
    background-color: var(--color-secondary-light);
    color: var(--color-primary-light);
  }
  button:hover {
    border-color: var(--color-button-hover-light);
    color: var(--color-button-hover-light);
  }
  nav {
    background-color: var(--color-secondary-light);
    color: var(--color-background-light);
    box-shadow: 0 2px 10px var(--color-shadow-light);
  }
  .pageContent {
    background-color: var(--color-secondary-light);
  }
  .person_image {
    background-color: var(--color-secondary-light);
  }
  #navBarButtons {
    background-color: var(--color-secondary-light);
  }
  #title {
    color: var(--color-text-light);
  }
  #outButton {
    background-color: var(--color-secondary-light);
  }
  #navBarButtons {
    background-color: var(--color-secondary-light);
  }
  #navBarButtons:hover {
    background-color: var(--color-button-hover-light);
  }
}